/node_modules
/public/hot
/public/storage
/public/backend
/public/img/products_sm
/public/img/product_sections
/public/img/posts
/public/img/products
/public/downloads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/_src